@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1222px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#backtop {
  position: fixed;
  right: 50px;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #fff;
  font-size: 50px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#backtop a {
  color: white;
}

#backtop.backtop-show {
  bottom: 50px;
}

#navbar.navbar-shrink {
  height: 80px;
  -webkit-box-shadow: 0 0 5px 2px #000;
          box-shadow: 0 0 5px 2px #000;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  background: #fff;
  z-index: 99;
}

.dark header {
  background: #000;
}

.dark .nav__link {
  color: #fff;
}

.dark .homes {
  background: #000;
  color: #fff;
}

.dark .dizayn {
  background: #000;
  color: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px #fff;
          box-shadow: 0px 4px 18px 0px #fff;
}

.dark .registar {
  color: #fff;
}

.dark .section-row-left {
  background: #000;
  color: #fff;
}

.dark .section-buttom {
  background: #000;
  color: #fff;
}

.dark .footer {
  background: #000;
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
nav .nav__logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
nav .nav__logo__link img {
  width: 100%;
}
nav .nav__logo__link p {
  color: #0B132A;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
}
nav .nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
nav .nav__link {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid transparent;
  color: #173A56;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1000px) {
  nav .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
nav .nav__link:hover {
  color: #22343D;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__btn .hamburger {
  display: none;
  padding: 14px 33px;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  border: 1px solid linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
}
@media (min-width: 1000px) {
  .header__btn .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__btn .hamburger:hover {
  border: 1px solid #000;
  background: #fff;
  color: #000;
}
.header__btn .hamburger .mode-btn {
  border: none;
  background-color: transparent;
}

main {
  background: #F7F6FF;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.home {
  text-align: center;
}
@media (min-width: 1000px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.home img {
  width: 100%;
}

.home-left {
  text-align: start;
}

.home-left-title {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 40px;
  font-weight: 800;
  line-height: 65px;
}
@media (min-width: 1000px) {
  .home-left-title {
    text-align: start;
  }
}

.home-left-list {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 30px;
}
@media (min-width: 1000px) {
  .home-left-list {
    text-align: start;
    max-width: 463px;
  }
}

span {
  font-size: 55px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
}
@media (min-width: 1000px) {
  .home-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home-left button {
  display: block;
  padding: 14px 30px;
  border-radius: 250px;
  background: #77B2D3;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.dizayn {
  max-width: 1170px;
  background: #fff;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.dizayn-title {
  padding: 40px 0 35px 55px;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.dizayn-list {
  padding: 0 0 56px 55px;
}

.dizayn-list h3 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dizayn-list p {
  color: #333;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (min-width: 1000px) {
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

.reklama {
  max-width: 220px;
  height: 378px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px;
  background: var(--, #FFF);
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.reklama-title {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  padding-top: 56px;
  margin-bottom: 70px;
}

.reklama-list {
  border-radius: 15px 15px 0px 0px;
  background: #77B2D3;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  padding: 11px 51px;
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.reklama-text {
  padding: 16px 0 0 21px;
  text-align: center;
  margin-bottom: 80px;
}

.line {
  text-align: center;
}

.reklama-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reklama-check {
  padding-bottom: 5px;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.ot {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.reklama p {
  padding: 11px 30px 16px 10px;
  font-family: Manrope;
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reklama-button {
  padding: 14px 53px;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 9px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  margin-top: 21px;
}
.reklama-button:hover {
  border: 1px solid #000;
  background: #fff;
  color: #000;
}

.card {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 220px;
  gap: 20px;
}
@media (min-width: 500px) {
  .card {
    grid-template-columns: 220px 220px;
  }
}
@media (min-width: 730px) {
  .card {
    grid-template-columns: 220px 220px 220px;
  }
}
@media (min-width: 950px) {
  .card {
    grid-template-columns: repeat(4, 220px);
  }
}
@media (min-width: 1200px) {
  .card {
    grid-template-columns: repeat(5, 220px);
  }
}

.row {
  text-align: center;
}

.registar {
  padding-top: 100px;
}
@media (min-width: 1200px) {
  .registar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.registar-right img {
  width: 100%;
}

.registar-title {
  margin: 20px 0;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
@media (min-width: 1100px) {
  .registar-title {
    max-width: 529px;
  }
}

.registar-list {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (min-width: 600px) {
  .forms {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.last-name {
  max-width: 270px;
  margin: 20px 0;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  padding: 6px 50px 7px 9px;
  border: 1px solid transparent;
  border-radius: 7px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

#textarea {
  max-width: 570px;
}

textarea {
  display: none;
  padding: 16px 0 0 19px;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  border-radius: 7px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
  margin-bottom: 25px;
}
@media (min-width: 600px) {
  textarea {
    display: inline-block;
  }
}

.checkboxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.checkbox {
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
}

@media (min-width: 1100px) {
  .section-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

.section-row-left {
  max-width: 570px;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.row-left-list {
  padding: 0 34px 24px 28px;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.section-buttom {
  padding: 21px 0 25px 28px;
  max-width: 570px;
  background: #F3F1FE;
}

.left-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.buttom-left h3 {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

.buttom-left p {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.section-buttom h2 {
  margin-bottom: 10px;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.section-row-left h4 {
  padding: 24px 0 13px 28px;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.img {
  padding: 0 0 25px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.row-titles {
  padding-top: 110px;
  margin: 0 0 41px 0;
  color: var(--, #333);
  font-family: Manrope;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

#team-carousel {
  position: relative;
}

#team-carousel :is(.owl-prev, .owl-next) {
  position: absolute;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
}

#team-carousel .owl-prev {
  left: -20px;
}

#team-carousel .owl-next {
  right: -20px;
}

#team-carousel .owl-dot span {
  width: 15px;
  height: 15px;
  background: linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#team-carousel .owl-dot.active span {
  width: 15px;
  background: gray;
}

.section-row-left svg {
  padding: 9px 0 4px 23px;
}

.footer {
  text-align: center;
  padding-top: 70px;
}

.footer-logo {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
@media (min-width: 900px) {
  .footer-logo {
    text-align: start;
  }
}

.footer-button {
  margin-bottom: 20px;
  margin-bottom: 66px;
}

li p {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

li {
  color: var(--, #333);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

@media (min-width: 1100px) {
  .footer-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-end {
  background: #000;
}

.footer-end p {
  color: var(--, #FFF);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.75);
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

@-webkit-keyframes ldio-zxbwzzspus {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ldio-zxbwzzspus {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-zxbwzzspus div {
  left: 95px;
  top: 48px;
  position: absolute;
  -webkit-animation: ldio-zxbwzzspus linear 1s infinite;
          animation: ldio-zxbwzzspus linear 1s infinite;
  background: #cb6f6f;
  width: 10px;
  height: 24px;
  border-radius: 5px/12px;
  -webkit-transform-origin: 5px 52px;
          transform-origin: 5px 52px;
}

.ldio-zxbwzzspus div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.9166666667s;
          animation-delay: -0.9166666667s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -0.8333333333s;
          animation-delay: -0.8333333333s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.6666666667s;
          animation-delay: -0.6666666667s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.5833333333s;
          animation-delay: -0.5833333333s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.4166666667s;
          animation-delay: -0.4166666667s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.3333333333s;
          animation-delay: -0.3333333333s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.1666666667s;
          animation-delay: -0.1666666667s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.0833333333s;
          animation-delay: -0.0833333333s;
  background: #cb6f6f;
}

.ldio-zxbwzzspus div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #cb6f6f;
}

.loadingio-spinner-spinner-9qtw80gtmdb {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-zxbwzzspus {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.ldio-zxbwzzspus div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#navbar-responsive {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
}

.res__nav__link {
  display: block;
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  color: #000;
}

@media (min-width: 1000px) {
  #navbar-open {
    display: none;
  }
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  border: none;
  background: transparent;
  color: red;
}
@media (min-width: 1000px) {
  #navbar-close {
    display: none;
  }
}